* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #ded6cc;
  background: #6d6e6c;
  font: 16px/25px "Inconsolata", monospace;
}

.room {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  margin-bottom: 60px;
}

.title {
  color: #a4da54;
  font-weight: normal;
  line-height: 45px;
  margin-bottom: 20px;
}

.social {
  list-style-type: none;
}

.social li > a {
  border-bottom: 1px solid;
  text-decoration: none;
  color: #ded6cc;
}

.workspace {
  width: 720px;
  margin: 0 auto;
  position: relative;
}

.workspace > img {
  display: block;
}

.octocat {
  display: block;
  background-image: url("../images/octocat.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 116px;
  width: 108px;
  position: absolute;
  bottom: 64px;
  left: 24px;
}

.octocat:hover {
  animation: jump 500ms steps(8);
}

@keyframes jump {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -928px;
  }
}